.footer
  span Author:&nbsp;
  a(href="/about")  Evan Li 
  .by_farbox
  div Hosted by
    span
      a(href="https://coding.net/pages")
        span &nbsp;Coding Pages&nbsp;
    span and
      a(href="https://pages.github.com/")
        span &nbsp;Github.

script.
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?cf0c457fb327bc25f17d4a9c2e5c8a28";
    var s = document.getElementsByTagName("script")[0]; 
    s.parentNode.insertBefore(hm, s);
  })();

